{% extends '::base.html.twig' %}
{% block body %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
<!--            <span class="icon-bar"></span>
            <span class="icon-bar"></span>-->
          </a>
          <a class="brand" href="{{ path('sf_cap_homepage') }}">{{'header.application.name'|trans}}</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              {% if app.user %}
              <a href="{{ path('fos_user_profile_show', {'name': app.user.username}) }}" class="navbar-link">{{app.user.firstname|capitalize}}</a>
              | <a href="{{ path('logout') }}" class="navbar-link">{{'header.link.log.out'|trans}}</a>
              {% else %}
                {% if (is_granted('IS_AUTHENTICATED_FULLY')==false) and (runner is defined) and (runner.hasData is defined) and (runner.hasData == true) %}
                  {% set anonURL = 'http://' ~ app.request.host ~ path('SFCapBundle_runner_return', {'hash': runner.hash}) %}
                  Adresse de votre profil : <a href="{{ path('SFCapBundle_runner_return', {'hash': runner.hash})}}">{{ anonURL  | stringShorten | raw}}</a>
                {% else %}
                  <a href="{{ path('login') }}" class="navbar-link">{{'header.link.log.in'|trans}}</a>
                {% endif %}
              {% endif %}
            </p>
            <ul class="nav">
              <li><a href="{{ path('sf_cap_homepage') }}">{{'header.link.home'|trans}}</a></li>
              <li><a href="{{ path('goal_badges') }}">Badges</a></li>
              <!--<li><a href="{{ path('goals') }}">Objectifs</a></li>-->
              <!--<li><a href="/about">{{'header.link.about'|trans}}</a></li>
              <li><a href="/contact">{{'header.link.contact'|trans}}</a></li>-->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<div class="container-fluid">
  {% block content %}{% endblock %}
  <hr />
  <footer>
    <p>&copy; SF 2012</p>
  </footer>
</div><!--/.fluid-container-->

<script>
$(function(){
  equalizeHeight("#firstLine .well");
  addToFavorites(".addToFavorites");
});
</script>
<script type="text/javascript">
  // UserVoice
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/w2zv60RsFD7s7YS3hxIcA.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>
{% endblock %}