{% extends 'SFCapBundle::cap.html.twig' %}
{% block body %}
<h1>{{"run.edit.title"|trans}}</h1>

<form action="{{ path('sortie_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit" class="btn btn-primary btn-large">{{"run.edit"|trans}}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('sortie') }}" class="btn">
            {{"runs.list"|trans|raw}}
        </a>
    </li>
    <li>
        <form action="{{ path('sortie_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn">{{"run.erase"|trans}}</button>
        </form>
    </li>
</ul>
{% endblock %}